/* ----------------------   38_React_Basics    ------------------------------------- */

/* .nirma{
    background-color: blue;
    text-align:center;
} */

/* ----------------------   39_React_Basics    ------------------------------------- */

.button{
    border:1px solid black;
    color:blue;
    background-color: orange;
}

/* ----------------------   40_React_Basics    ------------------------------------- */